{% extends 'base.html' %}

{% block bodyblock %}

{% for blog in blogs reversed %}
<div class="container">
<br/>
<h3 ><a class ="blog" href="{% url 'project:detail' blog.pk %}">{{blog.title}}</a></h3>
{% if user.is_authenticated %}
-<a href="{% url 'project:catdetail' blog.category.pk %}">{{blog.category}}</a>
{% endif %}
<h6>{{blog.date_created}}</h6>
{% if user.is_authenticated %}
<a class="btn btn-primary" href="{% url 'project:update' blog.pk %}">Edit</a>
<a class="btn btn-primary" href="{% url 'project:delete' blog.pk %}">Delete</a>
{% endif %}
<br/>
<hr>
</div>
{% endfor %}

{% endblock %}
